{% extends "photo_app/base.html" %}
<title>
    {% block title %}
        EDIT
    {% endblock %}
</title>


{% block content %}

<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %} <!--cross site request forgery wfor security purpose and is mandatory in forms -->
        <!-- {{form.as_p}} -->
        Photo:<input type="file" name="photo" value="{{photo.photo}}">
        Caption:<input type="text" name="caption" size="50" value="{{photo.caption}}">
        <input type="hidden" name="likes" value="{{photo.likes}}">
        <input type="hidden" name="User" value="{{request.session.id}}">
    <input type="submit" value="Upload">
</form>

{% endblock %}