{% extends "photo_app/base.html" %}

    {% block title %}
        Almost IG
    {% endblock %}


{% block content %}

{% for post in posts %}

<style>
    p.one {
      background-color:lightgray;
    }
</style>    

<div class="card mx-auto" style="width: 50rem;">
    <p class="one"><img  src="{{post.photo.photo.url}}" class="card-img-top img-thumbnail" alt="...">
        <h11>likes: {{post.photo.likes}}</h11>
    </p> 
    
    <div class="card-body">
      <h7 class="card-title"><b>{{post.photo.User.username}}</b></h7>   <h9>{{post.photo.caption}}</h9><br>
      <h15><small>{{post.photo.time_stamp}}</small></h15><br>
      
      <p class="card-text">
        {% for comment in post.comments %}
        <h7>{{comment.comment}}</h7> by <h10>{{comment.commented_by}} at <small>{{comment.timestamp1}}</small></h10>
        {% endfor %}
        
      </p>
      <a href="{% url 'photo_app:edit' post.photo.id %}">Edit</a>
    </div>
  </div>

{% endfor %} 

{% endblock %}