{% extends "photo_app/base.html" %}
<title>
    {% block title %}
        Almost IG
    {% endblock %}
</title>


{% block content %}

{% for post in posts %}

<style>
    p.one {
      background-color:lightgray;
    }
</style>    

<div class="card mx-auto" style="width: 50rem;">
    <p class="one"><img  src="{{post.photo.url}}" class="card-img-top img-thumbnail" alt="...">
        <h11>likes: {{post.likes}}</h11>
    </p> 
    
    <div class="card-body">
      <h7 class="card-title"><b>{{post.User}}</b></h7>   <h9>{{post.caption}}</h9><br>
      <h15><small>{{post.time_stamp}}</small></h15><br>
      
      <p class="card-text">
        {% for comment in post.comments %}
        <h7>{{comment}}</h7> by <h10>{{commented_by}} at <small>{{timestamp1}}</small></h10>
        {% endfor %}
        
      </p>
      <a href="{% url 'photo_app:edit' post.id %}">Edit</a>
    </div>
  </div>

{% endfor %} 

{% endblock %}